<!--<h1>Register Page.</h1>-->
<form class="form-horizontal" ng-controller="registerCtrl">
  <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
      
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" ng-model="user.username"
               id="username" name="username" placeholder="" class="input-xlarge">
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>
      
    <div class="control-group">
      <!-- Gender -->
      <label class="control-label" for="gender">Gender</label>
      <div class="controls">
        <input type="radio" ng-model="user.gender"
               name="gender" value="M" class="input-xlarge" ng-checked="true">&nbsp;Male
          <input type="radio" ng-model="user.gender"
               name="gender" value="F" class="input-xlarge">&nbsp;Female
      </div>
    </div>
      
    <div class="control-group">
      <!-- Phone -->
      <label class="control-label"  for="phone">Phone</label>
      <div class="controls">
        <input type="text" ng-model="user.phone" custom-numbers-only custom-length="10"
               id="phone" name="phone" placeholder="" class="input-xlarge">
        <p class="help-block">Phone can contain numbers only</p>
      </div>
    </div>
      
    <div class="control-group">
      <!-- Country -->
      <label class="control-label"  for="country">Country</label>
      <div class="controls">
        <select class="input-xlarge" ng-model="user.country" ng-options="data.name for data in countries"
                                     ng-change="loadStatesByCountry()">
            <option value="">Please select</option>
          </select>
      </div>
    </div>
      
    <div class="control-group">
      <!-- State -->
      <label class="control-label"  for="state">State</label>
      <div class="controls">
        <select class="input-xlarge" ng-model="user.state" ng-options="state.name for state in statesList">
            <option value="">Please select</option>
          </select>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="email" ng-model="user.email"
               id="email" name="email" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" ng-model="user.password"
               id="password" name="password" placeholder="" class="input-xlarge">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Accept Terms -->
      <label class="control-label"  for="accept terms">Accept terms to register</label>
      <div class="controls">
        <input type="checkbox" ng-model="user.agree">I agree to Terms & Conditions.
      </div>
    </div>
 
    <div class="control-group" ng-if="user.agree">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" custom-click="register()">Register</button>
      </div>
    </div>
      
      {{user}}
  </fieldset>
</form>